<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="src/server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="NodeJS">
          <match url=".*" />
          <action type="Rewrite" url="src/server.js" />
        </rule>
      </rules>
    </rewrite>

    <iisnode devErrorsEnabled="true" />
  </system.webServer>
</configuration>